*{margin:0;padding:0}
body{
	font-family:'Montserrat';
	font-size:14px;
	line-height:20px;
	color:#000;
	background:#fff;
}
.main_body_form{
	width:1024px;
	margin:10px auto;
	display:block;
	background:#f7f7f7;
	letter-spacing:1px;
	box-shadow: 5px 5px 30px 0px;
	border-radius: 30px 0px 30px 0px;
}

.header_admission {
	background: #666;
	color: #fff;
	width: 220px;
	font-size: 200%;
	padding: 10px;
	margin: 20px auto;
	clear:both;
	margin-top: 100px;
}
.content{
	padding-top: 25px;
}
.content table{
	font-size:125%;
	margin:0 auto;
}
.content table tr td{
	font-weight:bold;
}
.content table tr td input{
	height: 25px;
	width: 280px;
	border-radius:10px 0px 10px 0px;
}
.content table tr td input:focus{
	box-shadow:0px 0px 10px #555;
}
::placeholder{
	color:red;
	opacity:1;
}
.subButton {
	margin:35px 420px;
}
.subButton input{
	font-size: 120%;
	width: 170px;
	background: #BF7946;
	height: 35px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}
.subButton input:hover{
	color:#000;
	background:#eee;
}
.rules h3{
	margin: 0 0 5px -15px;
}
.rules{
	padding-left: 80px;
	font-size: 115%;
	height: 90px;
}
