
#error
{
	width:100%;
	margin:0 auto;
	height:30px;
	background-color:red;
	margin-top:80px;
	font-weight:bold;
	padding-top:10px;
	font-size:15px;
	display:none;
	border-radius:8px 8px 0px 0px;
}
#error p
{
	padding-left:10px;
}
.theButtons
{
	width:222px;
	height:40px;
	background-color:#335495;
	border:2px solid blue;
	font-weight:bold;
	font-family:tahoma;
	color:#FFF;
	
}
.inputFields
{
	width:215px;
	height:27px;
	padding-left:5px;
	border:1px solid #999;
	outline:none;
	border-radius:2px;
	transition:0.3s linear;
}
.inputFields:focus
{
	border:1px solid #000;
	box-shadow:0px 0px 10px #999;
}

#wrapper
{
	width:100%;
	margin:0 auto;
	margin-top:80px;
	min-height:400px;
	
}

#formDiv
{
	width:230px;
	margin:20px auto;
	font-size:14px;
}