*{margin:0;padding:0}
body{
	font-family:'Montserrat';
	font-size:14px;
	line-height:20px;
	color:#000;
	background:#fff;
}
@font-face{
 font-family:'digital-clock-font';
 src: url('fonts/digital.ttf');
}
.main_body{
	width:1024px;
	margin:10px auto;
	display:block;
	background:#fff;
	letter-spacing:1px;
	box-shadow: 5px 5px 30px 0px;
	border-radius: 30px 0px 30px 0px;
}
.header{
	
}
.header_top{
	height:125px;
	margin-bottom:10px;
	background: #ffddeb;
	border-radius: 30px 0px 30px 0px;
}
.header_left{
	float:left;
	margin-left:70px;
	padding-top:15px;
}
.header_name{
	float: left;
	padding-top: 30px;
	line-height: 20px;
	padding-left: 20px;
}
.header_name h1{
	font-size:200%;
	letter-spacing:3px;
}
.header_name p{
	margin-top:10px;
}
.header_right{
	float: right;
	padding-top: 25px;
	margin-right: 15px;
}
.header_right ul {
	list-style:none;
	margin-bottom: 5px;
}
.header_right ul  li a:hover{
	color:blue;
}
.header_right img{
	width:20px;
	height:20px;
}
#digital_clock{
	font-family: digital-clock-font;
	font-size: 145%;
	font-weight: bold;
	letter-spacing: 3px;
	float: right;
	width: 120px;
	margin: 5px 0px 0px -15px;
	color:#00f;
}
.banner{
	width: 900px;
	height: 350px;
	clear: both;
	padding: 10px;
	margin: 10px auto;
	border: 5px solid #ffc3a3;
	border-radius: 0px 20px 0px 20px;
}
.main_content{
	clear:both;
	height:400px;
}
.latest_news{
	padding-left:15px;
}
._update{
	width: 120px;
	float: left;
	background: #93cb57;
	font-size: 120%;
	padding:3px;
}
.news_scroll{
	color:red;
	background:#ddd;
	margin-bottom:10px;
	width:860px;
	float: left;
	font-size:120%;
	padding:3px;
}
.content_left{
	width: 250px;
	background: #eee;
	float: left;
	border: 3px solid #e4cbb2;
	border-radius: 8px;
	margin-left: 15px;
	height:200px;
	font-size:90%;
}
.content_mid{
	width:440px;
	background: #eee;
	float: left;
	border: 3px solid #e4cbb2;
	border-radius: 8px;
	margin-left: 8px;
	height:200px;
	font-size:90%;
	padding:0 10px 0 10px;;
}
.content_right{
	width: 250px;
	background: #eee;
	float: right;
	border: 3px solid #e4cbb2;
	border-radius: 8px;
	margin-right: 15px;
	height:200px;
	font-size:90%;
}
.content_right ul,.content_left ul{
	list-style:none;
	padding-left:20px;
}
a{
	color:#09B967;
	text-decoration: none !important;
}
.content_right ul li a:hover,.content_left ul li a:hover{
	color:blue;
}
.footer{
	height:170px;
}
.footer_top{
	background: #dadada;
	height: 150px;
	font-size:90%;
}
.footer_top h3{
	padding-bottom:5px;
}
.footer_top_left{
	width:330px;
	float:left;
	margin-left:30px;
}
.footer_top_mid{
	width:330px;
	float: left;
}
.footer_top_right{
	width:330px;
	float: left;
}
.footer_top_mid ul,.footer_top_right ul,.footer_top_left ul{
	list-style:none;
}

.footer_top_mid ul li a:hover,.footer_top_right ul li a:hover,.footer_top_left ul li a:hover{
	color:blue;
}
.footer_bootom{
	background:#333;
	color:#fff;
	text-align:center;
	border-radius: 0px 0px 30px 0px;
}
.teacher_details tr td{
	color:#1d1d1d;
	padding:10px;
}
.teacher_details tr td h2{
	color:#b92929;;
}
.teacher_details tr td h1{
	color:#00b900;;
}
.teacher_details tr td h3{
	color:#3434A2;;
}
.teacher_details tr td h4{
	color:#00a898;;
}
.teacher_details tr td:hover{
	box-shadow:0px 0px 10px #555;
}
.teacher_image img{
	border-radius: 100px;
}
.teacher_image img:hover{
	border-radius: 100px;
	box-shadow:0px 0px 10px #555;
}
table{
	margin:0 auto;
}
.routine_table{
	margin:0 auto;
	margin-bottom:50px;
}
.routine_table tr th,.routine_table tr td{
	padding:5px;
	width:100px;
	text-align:center;
}
.routine_table tr th:hover,.routine_table tr td:hover{
	box-shadow:0px 0px 10px #555;
}
.routine_exam{
	margin:0 auto;
}
.routine_exam tr th,.routine_exam tr td{
	padding:5px;
	width:150px;
	text-align:center;
}
.routine_exam tr th:hover,.routine_exam tr td:hover{
	box-shadow:0px 0px 10px #555;
}