body {
	background: #e0e0e0;
}
#cal {
	margin:20px auto;
	font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
	display:table;
	width:100%;
}

.header1 {
	width:400px;
	margin:90px auto auto;
	font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
	background: #cd310d;
	background: -moz-linear-gradient(top, #b32b0c, #cd310d);
	background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d));
	height:34px;
	position:relative;
	color:#fff;
	border-radius:5px;
	font-weight:bold;
	text-transform: uppercase;
}
.header1 span {
	display:inline-block;
	line-height:34px;
}
.month_header{
	font-size:120%;
	background: #cd310d;
	height: 40px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.header1 .button {
	width:35px;
	text-align:center;
	position:absolute;
}
.header1 .button:hover {
	background: -moz-linear-gradient(top, #d94215, #bb330f);
	background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f));
}
.header1 .right.button {
	right:0;
	top:0; 
	border-left:1px solid #ae2a0c;
	border-radius:5px;
}
.header1 .left.button {
	left:0;
	border-right:1px solid #ae2a0c;
	border-radius:5px;
}
.header1 .year {
	letter-spacing:1px;
	width:100%;
	text-align:center;
}

#cal table {
	background:#fff;
}
#cal th,#cal td {
	color:#000;
	width:35px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #e6e6e6;
	cursor:default;
}

#cal #days th{
	height:26px;
	line-height:26px;
	text-transform:uppercase;
	font-size:90%;
	color:#000;
}
#days td:not(:last-child) {
	border-right:1px solid #fff;
}

#cal td.today {
	background:#aee;
}

#cal  table table td:not(.nil):hover {
	color:#fff;
	background:#cd310d;
}
#cal td span {
	font-size:80%;
	position:relative;
}
#cal td span:first-child {
	bottom:5px;
}

#cal td span:last-child {
	top:5px;
}

